<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style_Sheet/home_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>

    <head class="Navbar">
        <!-- Navbar Start -->
        <nav>
            <div class="nav-container">
                <div class="logo">MySite</div>
                <div class="hamburger" onclick="document.querySelector('.nav-links').classList.toggle('active')">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="/planner">Planner</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                    <div>
                        <button class="btn-33"><a href="/login">Login</a></button>
                        <button class="btn-33"><a href="/signup">Singup</a></button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
    </head>
    <div id="vanta-bg">
        <div class="container-1">
            <hero class="hero">
                <div class="herocontenare">
                    <div class="Boxcontener">
                        <div class="titelname2">
                            <h1>Sign up now for exclusive contents</h1>
                        </div>
                    </div>
                    <div>
                        <div class="container">
                            <button class="btn-1"><span> Strart For Free </span> </button>
                        </div>
                    </div>
                </div>
            </hero>

        </div>
        <section class="twosectionbox">
            <div>
                <div class="row1">
                    <div class="column1" style="background-color:#aaa;">
                    </div>
                    <div class="column2">
                        <div class="hedingclome2">
                            <h2> Smart Study Planner that allows students </h2>
                        </div>
                        <div class="row3">
                            <div class="column3">
                                <div class="column0">
                                    <div class="logo66"><img src="../Images/pngegg.png" alt="">
                                        <p>Chat Support</p>
                                    </div>
                                    <p class="paragrafbotam1">Sed unde omnis iste natus sit volur tatem accus antium
                                        laudan
                                        tium rem eaque illo inventore veritatis architecto.</p>
                                    <div class="visit-us1">
                                        <button class="btn-1"><span> Strart For Free</span> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="column4">
                                <p>Sed ut unde omnis iste natus volur tatem accus antium laudan tium totam rem aperiam
                                    eaque ab illo inventore veritatis et architecto dicta sunt explicabo.</p><br>
                                <p>Totam rem aperiam eaque ab illo inventore veritatis et architecto dicta sunt
                                    explicabo.</p><br>
                                <p>Nemo enim quia sit asper natur sed magni dolores eos ratione serui nesciunt est
                                    dolorem
                                    ipsum dolor sit amet consec tetur adipisci velit sed non numsuam modi tempo.</p>
                                <img src="../Images/sine.png" alt="" style="height: 60px; margin-top: 30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slider-wrapper">
            <div class="text-slider">
                <span> Smart</span>
                <span> --------------</span>
                <span> Study </span>
                <span> --------------</span>
                <span> Planner</span>
                <span>--------------</span>
                <span> that</span>
                <span> --------------</span>
                <span> Daily goals lead to big wins.</span>
                <span>--------------</span>
                <span> Plan smart, not hard.</span>
                <span> --------------</span>
                <span>Stay focused, achieve more.</span>
                <span> --------------</span>
                <span> Learning never stops.</span>
            </div>
        </div>
        <div class="infom-box">
            <div class="infom-box-img">
                <img src="../Images/png-1.png" alt="">
            </div>
            <div class="infom-heading">
                <h2>Smart Study Planner That Helps Students</h2>
            </div>
            <div class="infom-para">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro voluptatem, unde inventore quia
                    tempore dicta exercitationem nisi fuga magnam assumenda asperiores quae deleniti minus, sint placeat
                    repellendus quas suscipit reiciendis?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro
                    voluptatem, unde inventore quia tempore dicta exercitationem nisi fuga magnam assumenda asperiores
                    quae deleniti minus, sint placeat repellendus quas suscipit reiciendis?</p>
            </div>
        </div>
        <section class="info-boox">
            <div class="Add-and-loc">
                <p class="head-2">Sample Subtitle</p>
                <h3>Let's talk design and innovation.</h3>
                <p class="infomatens">Sed ut unde omnis istera natus sit volur tatem accus
                    antium laudan tium totam rem aperiam inventore verita.Sed ut unde omnis istera natus sit volur tatem
                    accus
                    antium laudan tium totam rem aperiam inventore verita.Sed ut unde omnis istera natus sit volur tatem
                    accus
                    antium laudan tium totam rem aperiam inventore verita.</p>
                <button class="btn-3"><span> Strart For Free</span> </button>
            </div>
            <div class="Add-and-loc">
                <div class="about-img"><img src="../Images/hhhhh.avif" alt=""></div>
            </div>
        </section>

        <footer>
            <div class="sociallink">
                <div class="box1">
                    <h4>Follow Us</h4>
                </div>
                <div class="Add-and-loc-1">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
            <div class="last-footer">
                <p> © 2025 Copyright , Krishna & Nitin </p>
            </div>
        </footer>
    </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script src="../javaScript/javascript_home.js">
    </script>
</body>

</html>